DataExpressWeb/Web References/GInterComp/GInterfazComplemento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GeneraInterfazCom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoProveedor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="grabar_en_bd" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_registros" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraInterfazComResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GeneraInterfazComSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraInterfazCom" />
  </wsdl:message>
  <wsdl:message name="GeneraInterfazComSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraInterfazComResponse" />
  </wsdl:message>
  <wsdl:portType name="GInterfazComplementoSoap">
    <wsdl:operation name="GeneraInterfazCom">
      <wsdl:input message="tns:GeneraInterfazComSoapIn" />
      <wsdl:output message="tns:GeneraInterfazComSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GInterfazComplementoSoap" type="tns:GInterfazComplementoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneraInterfazCom">
      <soap:operation soapAction="http://tempuri.org/GeneraInterfazCom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GInterfazComplementoSoap12" type="tns:GInterfazComplementoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneraInterfazCom">
      <soap12:operation soapAction="http://tempuri.org/GeneraInterfazCom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GInterfazComplemento">
    <wsdl:port name="GInterfazComplementoSoap" binding="tns:GInterfazComplementoSoap">
      <soap:address location="http://localhost:62618/GInterfazComplemento.asmx" />
    </wsdl:port>
    <wsdl:port name="GInterfazComplementoSoap12" binding="tns:GInterfazComplementoSoap12">
      <soap12:address location="http://localhost:62618/GInterfazComplemento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>